<div ng-controller="ModalDemoCtrl">
    <div class="modalController">
        <div class="container">
                <div class="row">
                    <div ng-repeat="cards_by_shap in card_display.shaps">
                        <div class="row">
                            <div ng-repeat="card in cards_by_shap">
                                <div class="span" style="margin-left: auto !important;">
                                 <img ng-src="cards/{{card.imgLink}}" style="width: 60px;">
                            </div>
                                </div>
                         </div>
                    </div>
                 </div>
        </div>
    </div>
</div>