<div id="mythum" ng-if="select_cards" ng-controller="ModalDemoCtrl">
    <div class="row">
        <!-- here is the second stage in the form   ng - hide , ng-show-->
        <div class="span3 "><h4>Select your cards</h4></div>
        <div class="span6 ">
            <div class="row">
                <section id="projects">
                    <ul id="thumbs">
                        <div ng-repeat="card_player in playerCards track by $index" >
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span2 design">
                                <!-- Fancybox - card Enabled - Title - Full Image -->
                                <a ng-click="open('lg',playerCards[$index], playerCards,$index )" class="hover-wrap" >
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img  ng-src="{{card_player.imgLink}}" data-value="{{card_player.value}}" data-shap="card_player.shap">
                            </li>
                        </div>
                    </ul>
                </section>
            </div>

        </div>
    </div>
    <div class="row">
        <!-- here is the second stage in the form   ng - hide , ng-show-->
        <div class="span3 "><h4>Select your board cards</h4></div>
        <div class="span6 ">
            <div class="row">
                <section id="projects">
                    <ul id="thumbs">
                        <div ng-repeat="card_board in boardCards track by $index">
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span2 design">
                                <!-- Fancybox - card Enabled - Title - Full Image -->
                                <a  ng-click="open('lg',boardCards[$index], boardCards, $index)" class="hover-wrap" >
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img  ng-src="{{card_board.imgLink}}" data-value="{{card_board.value}}" data-shap="card_board.shap">
                            </li>
                        </div>

                    </ul>
                </section>
            </div>
            <button type="submit" class="btn btn-primary btn-large" ng-if="checkInputValid()" ng-click="submit()">Submit</button>
        </div>


    </div>

</div>

