<div id="mythum" ng-if="select_cards" ng-controller="ModalDemoCtrl">
    <div class="row">
        <!-- here is the second stage in the form   ng - hide , ng-show-->
        <div class="span3 "><h4>Select your cards</h4></div>
        <div class="span6 ">
            <div class="row">
                <section id="projects">
                    <ul id="thumbs">
                        <div ng-repeat="card in playerCards track by $index">
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span2 design">
                                <!-- Fancybox - card Enabled - Title - Full Image -->
                                <a ng-click="open('700px',card)" class="hover-wrap" >
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img ng-src="{{card.imgLink}}">
                            </li>
                        </div>
                    </ul>
                </section>
            </div>

        </div>
    </div>
    <div class="row">
        <!-- here is the second stage in the form   ng - hide , ng-show-->
        <div class="span3 "><h4>Select your board cards</h4></div>
        <div class="span6 ">
            <div class="row">
                <section id="projects">
                    <ul id="thumbs">
                        <div ng-repeat="card in boardCards track by $index">
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs span2 design">
                                <!-- Fancybox - card Enabled - Title - Full Image -->
                                <a  ng-click="open('700px',card)" class="hover-wrap" >
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img ng-src="{{card.imgLink}}">
                            </li>
                        </div>

                    </ul>
                </section>
            </div>

        </div>


    </div>

</div>

