<%- include('./partial/header'); -%>


<!-- This section is for Splash Screen -->
<div class="ole">
    <section id="jSplash">
        <div id="circle"></div>
    </section>
</div>
<!-- End of Splash Screen -->

<!-- Homepage Slider -->
<div id="home-slider">
    <div class="overlay"></div>

    <div class="slider-text">
        <div id="slidecaption"></div>
    </div>

    <div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>

        <a id="nextsection" href="#work"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->

<!-- Header -->

<header></header>
<!-- End Header -->

<!-- Our Work Section -->
<div id="work" class="page"
    <div class="container">
        <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Poker calculator</h2>

                    <h3 class="title-description">Please fill this form</h3>
                    <!-- need to set hide and show base on the phase-->
                </div>
            </div>
        </div>
        <!-- End Title Page -->


        <%- include('./partial/form_setting'); -%>

         <%- include('./partial/cards_seletion'); -%>

    <!-- End Portfolio Projects -->
</div>
</div>
<!-- End Our Work Section -->

<!-- About Section -->

<footer>
    <p class="credits"></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
    <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->

<%- include('./partial/footer'); -%>